<!DOCTYPE html>
<html>

<!-- <head>
    <meta charset="utf-8">
    <title>Solar System</title>
</head> -->

<%- include('partials/head.ejs')%>

<body>
    <h1>The Solar System</h1>
    
    <%- include('partials/nav.ejs')%>

    <h2>Planet Earth</h2>
    <p>
        <%= planetEarth.description%>
    </p>

    <img src="<%= planetEarth.image%>">
</body>

<%- include('partials/footer.ejs')%>

</html>