<!DOCTYPE html>
<html>

<%- include('partials/head.ejs')%>

    <body>
        <div class="mainBox">


            <%- include('partials/header.ejs')%>

            <%- include('partials/nav.ejs')%>

                <h2>Planet Venus</h2>
                <p class="longParagraph">
                    <%= planetVenus.description%>
                </p>

                <img class="planetImg" src="<%= planetVenus.image%>">

                <h3>Distance From Sun</h3>
                <p>
                    <%= planetVenus.distanceFromSun%>
                </p>

                <h3>Year Length</h3>
                <p>
                    <%= planetVenus.yearLength%>
                </p>

                <h3>Radius</h3>
                <p>
                    <%= planetVenus.radius%>
                </p>

                <div class="webLink">
                    <a href="<%= planetVenus.websiteLink%>">Website Link</a>
                </div>


                <h3>One Earth Day</h3>
                <p>
                    <%= planetVenus.oneEarthDay%>
                </p>

                <h3>Moons</h3>
                <p>
                    <%= planetVenus.moons%>
                </p>



        </div>
    </body>

    <%- include('partials/footer.ejs')%>

</html>