<%- include("partials/header.ejs") %>

    <body>
        <h1>Update/Delete Authors</h1>

        <div class="container">

            <% for(i=0; i < authorRows.length; i++){ %>
                <div class="list-item">

                <a href="/author/edit?authorId=<%= authorRows[i].authorId %>"
                    class="action-link update-link">UPDATE</a>

                <a href="/author/delete?authorId=<%= authorRows[i].authorId %>"
                    class="action-link delete-link">DELETE</a>
                        <span class="item-name">
                        <%= authorRows[i].firstName %>
                        <%= authorRows[i].lastName %> 
                            </span>
                        </div>
            <% } %>

            <a href="/" class="back-btn">← Back to Home</a>
        </div>



        <%- include("partials/footer.ejs") %>

    </body>

    </html>