<%- include("partials/header.ejs") %>

    <body>


        <h1>Updating Quote Data</h1>
        <form method="POST" action="/quote/edit">
            <input type="hidden" name="quoteId" value="<%=quoteInfo[0].quoteId%>">
            Quote:
            <input type="text" name="quote" value="<%=quoteInfo[0].quote%>"><br>
            Author Id:
            <input type="number" name="authorId" value="<%=quoteInfo[0].authorId%>"><br>
            Category:
            <input type="text" name="category" value="<%=quoteInfo[0].category%>">
            <br>
            Likes:
            <input type="text" name="likes" value="<%=quoteInfo[0].likes%>">
            <br>
           
            <button>Update Quote</button>
        </form>

        <% if(typeof message != "undefined") {%>

            <h3><%= message%></h3>
        <% } %>
    </body>

    <%- include("partials/footer.ejs") %>