<%- include("partials/header.ejs") %>

    <body>


        <h1>Adding a new Quote</h1>
        <form method="POST" action="/quote/new">
            Quote:
            <input type="text" name="quote"><br>
            Author:
            <!-- <input type="number" name="authorId"> -->
             <select name="authorId" id="authorId_section">
                <% for(author of authors){ %>
                    <option value="<%= author.authorId%>">
                        <%= author.firstName%>
                        <%= author.lastName%>
                    </option>
                <% } %>
            </select>
            <br>
            Category:
            <!-- <input type="text" name="category"> -->
            <select name="category" id="category_section">
                <% for(category of categories){ %>
                    <option value="<%= category.category%>">
                        <%= category.category%>
                    </option>
                <% } %>
            </select>


            <br>
            Likes:
            <input type="number" name="likes">
            <br>
            
            <button>Add Quote</button>
        </form>

        <% if(typeof message != "undefined") {%>

            <h3><%= message%></h3>
        <% } %>
    </body>

    <%- include("partials/footer.ejs") %>