<%- include("partials/header.ejs") %>

    <body>


        <h1>Adding a new Quote</h1>

        <div class="container">
        <form method="POST" action="/quote/new">

            <label>Quote:</label>
            <textarea name="quote" rows="3" placeholder="Enter quote"></textarea>
            <!-- <input type="text" name="quote"><br> -->

            <label></label>Author:
            <!-- <input type="number" name="authorId"> -->
             <select name="authorId" id="authorId_section">
                <% for(author of authors){ %>
                    <option value="<%= author.authorId%>">
                        <%= author.firstName%>
                        <%= author.lastName%>
                    </option>
                <% } %>
            </select>

            
            <label>Category:</label>
            <!-- <input type="text" name="category"> -->
            <select name="category" id="category_section">
                <% for(category of categories){ %>
                    <option value="<%= category.category%>">
                        <%= category.category%>
                    </option>
                <% } %>
            </select>


           
            <label>Likes:</label>
            <input type="number" name="likes" placeholder="0">
            <br>
            
            <button>Add Quote</button>
        </form>

        <% if(typeof message != "undefined") {%>
            <div class="message">
                <%= message%>
            </div>
            
        <% } %>
   
             <a href="/" class="back-btn">← Back to Home</a>

    </div>

    <%- include("partials/footer.ejs") %>
    </body>
</html>